@model VocabularyViewModel

@{
    ViewData["Title"] = "Delete " + Model.Words;
}

<h4>Are you sure you want to delete this?</h4>
<div>
    <partial name="_DetailsPartial" />

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger float-right" />
    </form>
</div>
