@{
    ViewData["Title"] = "About Learn Vocabulary";
}
<h5 class="text-primary">@ViewData["Title"]</h5>

<div class="jumbotron">
    <h6 class="mb-3">Wellcome to Learn Vocabulary a tool that will help you learn a foreign language more effectively</h6>
    <div>
        The ideal is when you learn new words or phases you will make some sentences using them as a way to turn them to yours.
        This tool will help you record your own sentences or anything that you notice during learning those new vocabulary.
        You can then use the records to practice the new vocabulary.
        Hopefully this suits your style of learning languages and help you with your learning.
    </div>
</div>

